.App {
  text-align: center;
  background-image: url(https://source.unsplash.com/random);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  height: stretch;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#222a;
  position: relative;
  top: 35%;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-footer {
  position:fixed;
  top:85%;
  padding:10px 30px;
  text-align:left;
  background-color:#222a;
  color: #fff;
}

.App-copyright {

  padding: 0px 15px;
}

.App-photoby {

  padding: 0px 15px;
}

.App-title {
  font-size: 1.5em;
}

.App-tagline {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
